/******************************************************************************
 * SQS Blocks
*******************************************************************************/
#deem--footer {
    padding-bottom: $story-padding / 2;

    .annotation--text .annotation__note {
        @include respond( $break-tablet-full ) {
            order: 1;
            padding-top: 0;
            padding-bottom: $padding-m;
        }
    }

    .annotation--text .annotation__text {
        @include respond( $break-tablet-full ) {
            order: 2;
        }
    }
}
.is-home-page,
.is-shop-page {
    #deem--footer {
        background-color: $black;
        color: $white;
        position: relative;
        z-index: 2;

        // Standalone complex
        min-height: 100vh;
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: flex-end;

        > .sqs-row {
            width: 100% !important;
        }

        .annotation blockquote p {
            color: $white;
        }

        .annotation__note a,
        .annotation__text a {
            @include a( $white );
        }

        .inp {
            color: $white;
            border-bottom: 1px solid $white;
            @include placeholder( $white );

            &.is-invalid {
                color: $red;
            }
        }

        ._svg {
            fill: $white;
        }
    }
}
.is-home-page.is-hoverable,
.is-shop-page.is-hoverable {
    #deem--footer {
        .annotation__note a:hover,
        .annotation__text a:hover {
            border-bottom-color: transparent;
        }
    }
}
.sqs-block-horizontalrule {
    @include exp-imp();

    .sqs-block-content {
        @include wrap();
        @include exp();
    }

    hr {
        background-color: $black;
        height: 2px;
    }
}
.sqs-block-spacer {
    .sqs-block-content {
        height: 0 !important;
        @include exp();
    }

    &.spacer-text .sqs-block-content {
        padding-bottom: 0;
    }
}
.sqs-block-newsletter {
    .sqs-block-content {
        @include wrap();
    }
}
.sqs-block-tagcloud {
    .sqs-block-content {
        @include wrap();
        @include wrapm();
    }
}
.sqs-block-summary-v2 {
    .sqs-block-content {
        .story--homepage & {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
.sqs-block-product {
    .sqs-block-content {}
}
.sqs-block-audio {
    .sqs-block-content {
        @include wrap();
    }
}
.sqs-block-gallery {
    .sqs-block-content {
        .slider + blockquote {
            @include wrap();

            p {
                @include m();
                width: 100%;
                max-width: $text-width;
            }
        }
    }
}
.sqs-block-image {
    .media {
        @include wrap();
        text-align: right;

        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
            padding-right: 0;
        }

        .media__cap {
            @include respond( $mobile-breakpoint ) {
                @include wrap();
            }
        }

        .media__wrap {
            @include media();
        }
    }

    .media--tall {
        @include respond( $mobile-breakpoint ) {
            @include wrap();
        }

        .media__cap {
            @include respond( $mobile-breakpoint ) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .media__wrap {
            @include media-tall();
        }
    }

    .media--card {
        padding-left: 0;
        padding-right: 0;
    }

    .media--stretch {
        .media__wrap {
            max-width: 100%;
            width: 100%;
        }
    }

    .sqs-block-content {
        h1 {
            @include h3();
            @include sqs-body-hflip();

            // Reduce to <h4> for laptop
            @include respond( $laptop-breakpoint ) {
                @include h4();
            }
        }

        // h2 {
        //     @include h4();
        //     @include sqs-body-hflip();
        // }
        //
        // h3 {
        //     @include h5();
        //     @include sqs-body-hflip();
        // }
    }
}
.sqs-block-video {
    .sqs-block-content {
        @include wrap();
        text-align: right;

        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .media__wrap {
        @include media();
    }
}
.sqs-block-html {
    .sqs-block-content {
        @include wrap();
        @include wrapm();
        @include text-content();
    }
}
