/******************************************************************************
 * Font Declarations
*******************************************************************************/
@font-face {
    font-family: $font-sans-regular;
    src: url( "/assets/fonts/#{$font-sans-regular}.woff" ) format( "woff" ),
         url( "/assets/fonts/#{$font-sans-regular}.woff2" ) format( "woff2" );
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: $font-sans-regular-italic;
    src: url( "/assets/fonts/#{$font-sans-regular-italic}.woff" ) format( "woff" ),
         url( "/assets/fonts/#{$font-sans-regular-italic}.woff2" ) format( "woff2" );
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: $font-sans-medium;
    src: url( "/assets/fonts/#{$font-sans-medium}.woff" ) format( "woff" ),
         url( "/assets/fonts/#{$font-sans-medium}.woff2" ) format( "woff2" );
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: $font-sans-medium-italic;
    src: url( "/assets/fonts/#{$font-sans-medium-italic}.woff" ) format( "woff" ),
         url( "/assets/fonts/#{$font-sans-medium-italic}.woff2" ) format( "woff2" );
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: $font-serif-light;
    src: url( "/assets/fonts/#{$font-serif-light}.woff" ) format( "woff" ),
         url( "/assets/fonts/#{$font-serif-light}.woff2" ) format( "woff2" );
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: $font-serif-book;
    src: url( "/assets/fonts/#{$font-serif-book}.woff" ) format( "woff" ),
         url( "/assets/fonts/#{$font-serif-book}.woff2" ) format( "woff2" );
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: $font-serif-book-italic;
    src: url( "/assets/fonts/#{$font-serif-book-italic}.woff" ) format( "woff" ),
         url( "/assets/fonts/#{$font-serif-book-italic}.woff2" ) format( "woff2" );
    font-style: normal;
    font-stretch: normal;
}
