/******************************************************************************
 * Paragraphs
*******************************************************************************/
p, .p {
    @include p();

    a {}
}
p {
    strong {
        //@include s();

        // em {
        //     @include bi();
        // }

        background-color: $yellow;
    }
}
em {
    @include i();
}
.m {
    @include m();
    color: $grey;
    display: block;
}

.label {
    padding-bottom: 2.75vw;
}


/******************************************************************************
 * Headlines
*******************************************************************************/
h1, .h1 {
    @include h1();

    & + p {
        padding-top: 2.75vw;
    }
}
h2, .h2 {
    @include h2();
}
h3, .h3 {
    @include h3();
}
h4, .h4 {
    @include h4();
}
h5, .h5 {
    @include h5();
}
