/******************************************************************************
 * Paragraphs
*******************************************************************************/
p, .p {
    @include p();
}
p {
    strong {
        @include font-family-sans-semibold();
    }

    strong em,
    em strong {
        @include font-family-sans();
    }
}
em {
    @include i();

    &.ss {
        @include otf-ss();
    }
}
.m,
.m > p {
    @include m();

    .story--about & {
        @include p();
    }
}

.label {
    padding-bottom: 2.75vw;
}


/******************************************************************************
 * Headlines
*******************************************************************************/
h1, .h1, h1 p {
    @include h1();

    & + p {
        padding-top: 2.75vw;
    }
}
h2, .h2, h2 p {
    @include h2();
}
h3, .h3, h3 p {
    @include h3();
}
h4, .h4, h4 p {
    @include h4();
}
h5, .h5, h5 p {
    @include h5();
}
h6, .h6, h6 p {
    @include h6();

    // > a {
    //     border-bottom: 1px solid $black;
    // }
}



/******************************************************************************
 * Button — ( CTA )
*******************************************************************************/
._button {
    @include button-pseudo();
    @include h6();
    cursor: pointer;
    color: $black;
    line-height: 1;
}
