/******************************************************************************
 * SQS Layout
*******************************************************************************/
[class*=sqs-col] {
    float: none;
    display: inline-block;
}
[class*=sqs-col] .sqs-block {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
}


.sqs-layout .sqs-row {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.sqs-layout > .sqs-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.sqs-row:before,
.sqs-row:after {
    display: none;
}



/******************************************************************************
 * SQS Commerce
*******************************************************************************/
#sqs-cart-root {
    @include exp();
    @include wrap();
}
.sqs-widgets-confirmation {
    .title {
        @include m();
        @include font-family-sans-semibold();
    }

    .message {
        @include m();
    }

    .confirmation-button {
        @include sqs-alert-button();
    }
}



/******************************************************************************
 * SQS Blocks
*******************************************************************************/
.sqs-block-horizontalrule {
    hr {
        background-color: $grey;
    }
}
.sqs-block-spacer {
    .sqs-block-content {
        height: 0 !important;
        display: none !important;
    }
}
.sqs-block-newsletter {
    .sqs-block-content {
        @include wrap();
    }
}
.sqs-block-tagcloud {
    .sqs-block-content {
        @include exp();
        @include wrap();

        a {
            @include nbsp();

            span {
                @include a( $black );
            }
        }
    }
}
.sqs-block-summary-v2 {
    .sqs-block-content {
        @include exp();
        @include wrap();
    }
}
.sqs-block-audio {
    .sqs-block-content {
        @include wrap();
    }
}
.sqs-block-gallery {
    .sqs-block-content {
        .grid {
            @include exp();
            margin-left: 0;
            margin-right: 0;
            padding-left: $padding-1 / 2;
            padding-right: $padding-1 / 2;
        }
        .grid__item {
            padding-left: $padding-1 / 2;
            padding-right: $padding-1 / 2;
        }
        .slider + blockquote {
            @include wrap();

            p {
                @include m();
                width: 100%;
                max-width: $text-width;
            }
        }
    }
}
.sqs-block-image {
    .media {
        @include wrap();
        text-align: right;

        .media__wrap {
            @include media();
        }
    }

    .media--tall {
        .media__wrap {
            @include media-tall();
        }
    }

    .media--card {
        padding-left: 0;
        padding-right: 0;
    }

    .media--stretch {
        .media__wrap {
            max-width: 100%;
            width: 100%;
        }
    }

    .sqs-block-content {
        h1 {
            @include h3();
            @include sqs-body-hflip();

            @include respond( $break-tablet-medium ) {
                @include h4();
            }

            @include respond( $break-tablet-small ) {
                @include h5();
            }

            @include respond( $mobile-breakpoint ) {
                @include h3();
            }
        }

        h2 {
            @include h4();
            @include sqs-body-hflip();

            @include respond( $break-tablet-medium ) {
                @include h5();
            }

            @include respond( $break-tablet-small ) {
                @include p();
                @include font-family-sans-medium();
            }

            @include respond( $mobile-breakpoint ) {
                @include h4();
            }
        }

        h3 {
            @include h5();
            @include sqs-body-hflip();

            @include respond( $break-tablet-medium ) {
                @include p();
                @include font-family-sans-medium();
            }

            @include respond( $break-tablet-small ) {
                @include h6();
                @include font-family-sans-semibold();
            }

            @include respond( $mobile-breakpoint ) {
                @include h5();
            }
        }
    }
}
.sqs-block-video {
    .sqs-block-content {
        @include wrap();
        text-align: right;
    }

    .media__wrap {
        @include media();
    }
}
.sqs-block-html {
    .sqs-block-content {
        @include wrap();

        > p,
        > ol,
        > ul {
            @include text();
        }

        > p  {
            @include nbsp();
        }

        > ul > li,
        > ol > li {
            @include p();
            @include nbsp();

            > p {
                display: inline-block;;
            }
        }

        > h1 {
            @include h3();
            @include nbsp();
            @include sqs-body-hflip();
        }

        > h2 {
            @include h4();
            @include nbsp();
            @include sqs-body-hflip();
        }

        > h3 {
            @include h5();
            @include nbsp();
            @include sqs-body-hflip();
        }

        > blockquote {
            p {
                @include m();
                color: $grey;
            }
        }

        > h1 + p,
        > h2 + p,
        > h3 + p,
        > p + h1,
        > p + h2,
        > p + h3,
        > p + ul,
        > p + ol,
        > ul + p,
        > ol + p,
        > p:not( .p--boldline ) + p {
            @include expt();
        }

        > p.p--listings,
        > p.p--boldline + p {
            &:before {
                display: none;
            }
        }

        > ul li > p,
        > ol li > p {
            border-bottom: 1px solid $black;
        }

        a {
            @include a( $grey );
        }
    }
}



/******************************************************************************
 * Vertical spacing
*******************************************************************************/
.sqs-block-html {
    .sqs-block-content {
        @include exp();
    }
}
.sqs-block-image {
    .sqs-block-content {
        @include exp();
    }
}
.sqs-block-video {
    .sqs-block-content {
        @include exp();
    }
}



/******************************************************************************
 * Cover specific
*******************************************************************************/
.sqs-layout > .sqs-row > .col > .sqs-block-html:first-child {
    h1, h2, h3 {
        @include sqs-h123();

        &:before {
            display: none;
        }
    }
}
.sqs-layout > .sqs-row > .col > .sqs-row:first-child {
    justify-content: space-between;
    @include wrap();
    @include p1-cols();

    .sqs-block-image {
        .sqs-block-content {
            padding-top: 0;
            padding-bottom: 0;
        }

        .media {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .sqs-block-html {
        .sqs-block-content {
            padding-left: 0;
            padding-right: 0;

            > h1, > h2, > h3 {
                @include exp();
                @include sqs-h123();

                &:before {
                    display: none;
                }

                @include respond( $mobile-breakpoint ) {
                    padding-top: 0;
                }
            }

            blockquote {
                p {
                    color: $black;
                    @include h6();
                }

                p + p {
                    padding-top: $padding-m;
                }
            }

            @include respond( $mobile-breakpoint ) {
                padding-top: 0;
            }
        }
    }

    .sqs-block-audio {
        .sqs-block-content {
            padding-left: 0;
            padding-right: 0;
        }
    }
}



/******************************************************************************
 * SQS Overrides
*******************************************************************************/
.sqs-layout:not(.sqs-editing) > .sqs-row:first-child > [class*="sqs-col"]:first-child > .sqs-block:last-child,
.sqs-layout:not(.sqs-editing) .sqs-block + .sqs-row .sqs-block:not(.float):last-child {
    padding: 0 !important;
    margin: 0 !important;
}
.newsletter-block:not(.rendered) {
    opacity: 1 !important;
}
ul[data-rte-list] li > *:first-child::before,
ol[data-rte-list] li > *:first-child::before {
    margin-left: 0;
    min-width: 0;
    width: 0;
    content: "";
    padding-right: 0;
    text-align: left;
    display: none;
}
ul[data-rte-list] li > *, ol[data-rte-list] li > * {
    margin: 0!important;
}
.sqs-layout:not(.sqs-editing) .sqs-block + .sqs-row .sqs-block:not(.float):first-child {
    padding-top: 0!important;
}
.sqs-block-gallery {
    .sqs-intrinsic {
        padding-bottom: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .sqs-intrinsic .sqs-intrinsic-content {
        position: relative !important;
        top: auto;
        left: auto;
        height: auto;
        max-width: none;
        width: 100%;
    }
}
input.inp:focus {
    box-shadow: none !important;
}
