/******************************************************************************
 * SQS Layout
*******************************************************************************/
[class*=sqs-col] {
    float: none;
    display: inline-block;
}
[class*=sqs-col] .sqs-block {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
}


.sqs-layout .sqs-row {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.sqs-layout > .sqs-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.sqs-row:before,
.sqs-row:after {
    display: none;
}



/******************************************************************************
 * SQS Blocks
*******************************************************************************/
.sqs-block-horizontalrule {
    hr {
        background-color: $grey;
    }
}
.sqs-block-spacer {
    .sqs-block-content {
        height: 0 !important;
        display: none !important;
    }
}
.sqs-block-newsletter {
    .sqs-block-content {
        @include wrap();
    }
}
.sqs-block-tagcloud {
    .sqs-block-content {
        @include exp();
        @include wrap();

        a {
            @include a( $black );
        }
    }
}
.sqs-block-summary-v2 {
    .sqs-block-content {
        @include exp();
        @include wrap();
    }
}
.sqs-block-audio {
    .sqs-block-content {
        @include wrap();
    }
}
.sqs-block-image {
    .media {
        @include wrap();
        text-align: right;

        .media__wrap {
            @include media();
        }
    }

    .media--tall {
        .media__wrap {
            @include media-tall();
        }
    }

    .media--card {
        padding-left: 0;
        padding-right: 0;
    }

    .media--stretch {
        .media__wrap {
            max-width: 100%;
            width: 100%;
        }
    }

    .sqs-block-content {
        h1 {
            @include h3();
        }

        h2 {
            @include h4();
        }

        h3 {
            @include h5();
        }
    }
}
.sqs-block-video {
    .sqs-block-content {
        @include wrap();
        text-align: right;
    }

    .media__wrap {
        @include media();
    }
}
.sqs-block-html {
    .sqs-block-content {
        @include wrap();

        > p,
        > ol,
        > ul {
            @include text();
        }

        a {
            @include a( $grey );
        }

        h1 {
            @include h3();
        }

        h2 {
            @include h4();
        }

        h3 {
            @include h5();
        }

        blockquote {
            p {
                @include m();
                color: $grey;
            }
        }
    }
}



/******************************************************************************
 * Vertical spacing
*******************************************************************************/
.sqs-block-html {
    .sqs-block-content {
        @include exp();
    }
}
.sqs-block-image {
    .sqs-block-content {
        @include exp();
    }
}
.sqs-block-video {
    .sqs-block-content {
        @include exp();
    }
}



/******************************************************************************
 * Cover specific
*******************************************************************************/
.cover-block {
    h1, h2, h3 {
        .h1RoobertMedium & {
            @include h1();
        }

        .h1CheltenhamBook & {
            @include h1();
            @include font-family-serif();
        }

        .h2RoobertMedium & {
            @include h2();
        }

        .h2CheltenhamBook & {
            @include h2();
            @include font-family-serif();
        }
    }

    .sqs-block-html .sqs-block-content {
        blockquote {
            p {
                color: $black;
                @include h6();

                .is-inverse-text & {
                    color: $white;
                }
            }
        }
    }
}
.sqs-row.cover-block {
    .sqs-block-image {
        .media {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .sqs-block-html {
        .sqs-block-content {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .sqs-block-audio {
        .sqs-block-content {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .sqs-block-html {
        .sqs-block-content {
            > h1, > h2, > h3 {
                @include exp();

                @include respond( $mobile-breakpoint ) {
                    padding-top: 0;
                }
            }

            @include respond( $mobile-breakpoint ) {
                padding-top: 0;
            }
        }
    }

    .sqs-block-image {
        .sqs-block-content {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
.cover-start + .sqs-row.cover-block {
    justify-content: space-between;
    @include wrap();

    .image-col {
        @include diptych();

        @include respond( $mobile-breakpoint ) {
            width: 100%;
        }
    }

    .text-col {
        @include respond( $mobile-breakpoint ) {
            width: 100%;
        }
    }
}



/******************************************************************************
 * SQS Overrides
*******************************************************************************/
.sqs-layout:not(.sqs-editing) > .sqs-row:first-child > [class*="sqs-col"]:first-child > .sqs-block:last-child,
.sqs-layout:not(.sqs-editing) .sqs-block + .sqs-row .sqs-block:not(.float):last-child {
    padding: 0 !important;
    margin: 0 !important;
}
.newsletter-block:not(.rendered) {
    opacity: 1 !important;
}
ul[data-rte-list] li > *:first-child::before,
ol[data-rte-list] li > *:first-child::before {
    margin-left: 0;
    text-align: left;
}
ul[data-rte-list] li > *:first-child::before,
ol[data-rte-list] li > *:first-child::before {
    display: none;
}
.sqs-layout:not(.sqs-editing) .sqs-block + .sqs-row .sqs-block:not(.float):first-child {
    padding-top: 0;
}
.sqs-block-gallery {
    .sqs-intrinsic {
        padding-bottom: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .sqs-intrinsic .sqs-intrinsic-content {
        position: relative !important;
        top: auto;
        left: auto;
        height: auto;
        max-width: none;
        width: 100%;
    }
}
