/******************************************************************************
 * SQS Layout
*******************************************************************************/
[class*=sqs-col] {
    float: none;
    display: inline-block;
}
[class*=sqs-col] .sqs-block {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
}


.sqs-layout .sqs-row {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sqs-layout > .sqs-row > .col {
    > .sqs-row {
        .sqs-block-html .sqs-block-content {
            > p, > h1, > h2, > h3, > ol, > ul {
                padding: 0;
            }

            > blockquote {
                padding: 0;
            }
        }

        > .col {
            width: auto !important;
        }
    }
}
.sqs-row:before,
.sqs-row:after {
    display: none;
}



/******************************************************************************
 * SQS Blocks
*******************************************************************************/
.sqs-block-horizontalrule {
    hr {
        background-color: $grey;
    }
}
.sqs-block-spacer {
    .sqs-block-content {
        height: $expander-1 !important;
    }
}
.sqs-block-html {
    .sqs-block-content {
        @include wrap();

        > p,
        > blockquote > p {
            width: 100%;
            max-width: 900px;
        }

        > p, > h1, > h2, > h3, > ol, > ul {
            @include exp();
        }

        > blockquote {
            @include expb();
        }

        a {
            @include a( $grey );
        }

        h1 {
            @include h3();
        }

        h2 {
            @include h4();
        }

        h3 {
            @include h5();
        }

        ol, ul {
            padding-left: 1.75vw;
            padding-right: 1.75vw;
        }

        blockquote {
            p {
                @include m();
                color: $grey;
            }
        }
    }
}
.sqs-block-image,
.sqs-block-video {
    .sqs-block-content {
        @include exp();
        @include wrap();
    }

    .m {
        width: 100%;
        max-width: 900px;
    }
}
.sqs-block-audio,
.sqs-block-newsletter {
    .sqs-block-content {
        .cms & {
            @include wrap();
            @include exp();
        }
    }
}



/******************************************************************************
 * SQS Overrides
*******************************************************************************/
.sqs-layout:not(.sqs-editing) > .sqs-row:first-child > [class*="sqs-col"]:first-child > .sqs-block:last-child,
.sqs-layout:not(.sqs-editing) .sqs-block + .sqs-row .sqs-block:not(.float):last-child {
    padding: 0 !important;
    margin: 0 !important;
}
.newsletter-block:not(.rendered) {
    opacity: 1 !important;
}
