/******************************************************************************
 * Commerce
*******************************************************************************/
.shop {
    @include intro-content();

    .grid {
        @include exp();
        @include wrap();
    }
}



.stack {
    position: relative;
    @include wrap();

    & + .stack:not( .stack--sub ) {
        .stack__wrap {
            border-top: 2px solid $grey-rule;

            @include respond( $break-tablet-small ) {
                border-top: 0;
            }
        }
    }
}
.stack--one {
    .stack__wrap {
        padding-top: $expander-1 * 2;

        @include respond( $break-tablet-small ) {
            padding-top: 0;
        }
    }
}
.stack--sub {
    color: $white;

    .stack__info {
        .h6 p {
            @include a( $white );
        }
    }

    .stack__wrap {
        padding-top: $story-padding;
        padding-bottom: $story-padding;
        @include tween-basic();
    }
}
.stack__fixer {
    background-color: $black;
    position: fixed;
    left: 0;
    top: 100vh;
    width: 100%;
    height: 100vh;
    z-index: 1;
    pointer-events: none;

    @include respond( $mobile-breakpoint ) {
        display: none;
    }
}
.stack__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 2;
}

.stack__image {
    min-height: 100vh;
    width: 670px;

    &[data-imageloader="true"] {
        min-height: 0;
    }

    @include respond( $laptop-breakpoint ) {
        width: 470px;
    }

    @include respond( $tablet-breakpoint ) {
        width: 320px;
    }

    @include respond( $break-tablet-small ) {
        width: 100%;
    }
}



.stack__info {
    padding-left: 200px;
    max-width: $text-width;
    width: sqs-calc( "100% - 670px" );
    box-sizing: content-box;

    .h6 {
        display: inline-block;
    }

    .h6 p {
        @include h6();
        @include a( $black );
    }

    @include respond( 2040px ) {
        box-sizing: border-box;;
    }

    @include respond( $break-laptop-full ) {
        padding-left: 7.8125vw;
    }

    @include respond( $laptop-breakpoint ) {
        width: sqs-calc( "100% - 470px" );
    }

    @include respond( $tablet-breakpoint ) {
        width: sqs-calc( "100% - 320px" );
    }

    @include respond( $break-tablet-small ) {
        width: 100%;
        padding-left: 0;
        padding-top: $padding-m;
    }
}



.product {
    @include p1-cols();

    .p1 {
        @include wrap();
        padding-top: $expander-1 * 2;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .p1__shipping {
        padding-bottom: $padding-m;
    }

    .story {
        padding-top: 0;
        padding-bottom: $story-padding;
    }

    .cta--static {
        padding-left: 0;
        padding-right: 0;
        padding-top: $expander-m;
        @include expb();
    }

    .image-col {
        @include respond( $tablet-breakpoint ) {
            padding-top: $padding-m;
        }
    }
}



.cart {
    .cart__tabular {
        @include m();
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: $padding-m;
        border-bottom: 2px solid $grey-rule;
    }

    .cart__tabular > div:nth-child( 1 ),
    .cart__item {
        width: 56.25%;
    }

    .cart__entry {
        @include exp();
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 2px solid $grey-rule;
        user-select: none;

        @include respond( $tablet-breakpoint ) {
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }

    .cart__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include respond( $tablet-breakpoint ) {
            width: 100%;
        }

        @include respond( $mobile-breakpoint ) {
            flex-wrap: wrap;
        }
    }

    .cart__qty {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond( $tablet-breakpoint ) {
            padding-top: $padding-m;
        }

        @include respond( $mobile-breakpoint ) {
            width: auto;
        }

        svg {
            pointer-events: none;
        }

        .min,
        .add {
            cursor: pointer;
        }

        .min {
            svg {
                transform: rotate( 90deg );
            }
        }

        .add {
            svg {
                transform: rotate( -90deg );
            }
        }

        .h6 {
            padding: 0 $padding-m;
            text-align: center;
            width: 90px;
            @include font-family-sans-medium();

            @include respond( $mobile-breakpoint ) {
                padding: 0 ($padding-m / 2);
                width: 60px;
            }
        }
    }

    .cart__price {
        @include respond( $tablet-breakpoint ) {
            padding-left: $padding-1;
            padding-top: $padding-m;
        }

        h6 {
            @include font-family-sans-medium();
        }
    }

    .cart__thumb {
        width: 100%;
        max-width: 310px;

        @include respond( $mobile-breakpoint ) {
            max-width: 100%;
        }
    }

    .cart__desc {
        padding-left: $padding-1;

        @include respond( $mobile-breakpoint ) {
            width: 100%;
            padding-left: 0;
            padding-top: $padding-m;
        }
    }

    .cart__title {
        p {
            @include font-family-sans-medium();
        }
    }

    .cart__attrs {
        color: $grey;
        padding-top: $padding-m;
    }

    .cart__subtotal {
        padding-top: $padding-m * 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        h6 {
            @include font-family-sans-medium();
            padding-left: $padding-m;
        }
    }
}



.issue {
    @include respond( $mobile-breakpoint ) {
        background-color: $black;
    }
}
.issue__title {}
.issue__button {
    z-index: 1;
}
.issue__desc {
    padding-top: $expander-m;
    padding-bottom: $expander-m;
}
