.cover {
    width: 100vw;
    position: relative;
    z-index: 1;

    & + .sqs-layout {
        position: relative;
        z-index: 2;
    }
}
.cover__mobile {
    display: none;

    @include respond( $mobile-breakpoint ) {
        display: block;
        @include wrap();
    }
}
.cover__color,
.cover__hover,
.cover__image {
    @include respond( $mobile-breakpoint ) {
        display: none;
    }
}
.cover__color {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $black;
}
.cover__image {
    left: 50%;
    width: 115vw;
    height: 115vh;
    position: relative;
    z-index: 1;
    transform: translate3d( -50%, 0, 0 );
    transition: opacity $base-duration ease;
    opacity: 0;

    .is-loaded & {
        opacity: 1;
    }
}
.cover__hover {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.cover__title {
    @include wrap();
    @include exp2b();
    position: absolute;
    top: 100%;
    transform: translate3d( 0, -100%, 0 );
    z-index: 2;
    transition: opacity $base-duration ease $base-duration;
    opacity: 0;

    .is-loaded & {
        opacity: 1;
    }

    h3 {
        .hCheltenhamBook & {
            @include font-family-serif-bold();
        }

        span {
            @include a( $black );
            border-bottom-width: $header-underline;
            @include font-family-sans-medium-italic();

            .hCheltenhamBook & {
                @include font-family-serif-bold-italic();
            }
        }
    }
}
.cover__icon {
    @include wrap();
    @include expb();
    position: absolute;
    top: 100%;
    transform: translate3d( 0, -100%, 0 );
    z-index: 2;
    pointer-events: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    ._svg {
        fill: $white;
        transform: rotate( 90deg );
    }
}
