.grid {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: $padding-1 / 2;
    padding-right: $padding-1 / 2;

    @include respond( $mobile-breakpoint ) {
        padding-left: $padding-m;
        padding-right: $padding-m;
    }
}
.grid--length-2 {
    justify-content: space-between;

    .grid__item {
        width: 50%;

        @include respond( $tablet-breakpoint ) {
            width: 50%;
            max-width: 50%;
            box-sizing: border-box;
        }

        @include respond( $mobile-breakpoint ) {
            width: 100%;
            max-width: 100%;
        }
    }
}
.grid__item {
    padding-left: $padding-1 / 2;
    padding-right: $padding-1 / 2;
    width: 33.333333%;
    @include exp2b();

    @include respond( $tablet-breakpoint ) {
        width: 50%;
    }

    @include respond( $mobile-breakpoint ) {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
.grid__info {
    padding-top: $padding-m / 2;
    @include wrapgm();
}
.grid__title {
    @include p();
    @include font-family-sans-medium();

    > span {
        @include font-family-sans-medium-italic();
        @include a( $black );

        .meni__query &,
        .tagcloud-query & {
            @include a( $white );
        }
    }

    @include respond( $mobile-breakpoint ) {
        @include p();
        @include font-family-sans-medium();
    }
}
.grid__meta {
    padding-top: $padding-m / 2;
    display: block;

    span {
        @include a( $black );
    }
}



.pinned {
    @include exp2b();
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .grid__title {
        @include h5();
        padding-right: $padding-1;

        @include respond( $tablet-breakpoint ) {
            padding-right: 0;
        }

        @include respond( $mobile-breakpoint ) {
            @include p();
            @include font-family-sans-medium();
        }
    }
}
.pinned__info {
    padding-left: $padding-1 / 2;
    padding-right: $padding-1 / 2;
    width: 50%;
    max-width: $pinned-text-width;
    box-sizing: content-box;
    @include wrapgm();

    @include respond( 2040px ) {
        box-sizing: border-box;
    }

    @include respond( $tablet-breakpoint ) {
        width: 100%;
        padding-top: $padding-m / 2;
        order: 2;
    }
}

.pinned__image {
    padding-left: $padding-1 / 2;
    padding-right: $padding-1 / 2;
    width: 50%;
    text-align: right;

    .image {
        max-width: $pinned-media-width;

        @include respond( $tablet-breakpoint ) {
            max-width: 100%;
        }
    }

    @include respond( $tablet-breakpoint ) {
        width: 100%;
        order: 1;
    }

    @include respond( $break-tablet-small ) {
        padding-left: 0;
        padding-right: 0;
    }
}
