.header {
    background-color: $white;
    padding-top: $expander-1;
    padding-bottom: $expander-1;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z_layer_header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    transition: transform $base-duration $ease-menu-1,
                opacity $base-duration $ease-menu-1,
                padding-top $base-duration $ease,
                padding-bottom $base-duration $ease,
                background-color $base-duration $ease;

    .is-menu-open & {
        opacity: 0;
        transform: translate3d( 0, -100%, 0 );
    }

    .is-scroll-down & {
        transform: translate3d( 0, -100%, 0 );
    }

    .is-header-small & {
        padding-top: $expander-m;
        padding-bottom: $expander-m;
    }
}
.header__logo,
.header__navi {
    pointer-events: auto;

    .is-menu-open & {
        pointer-events: none;
    }
}
