.header {
    padding-top: $expander-1;
    padding-bottom: $expander-1;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z_layer_header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    transition: transform $ease-menu-1 $base-duration,
                opacity $ease-menu-1 $base-duration;

    .is-menu-open & {
        opacity: 0;
        transform: translate3d( 0, -100%, 0 );
    }
}
.header__logo,
.header__navi {
    pointer-events: auto;

    .is-menu-open & {
        pointer-events: none;
    }
}
