.lds-ellipsis {
  display: inline-block;
  position: relative;
}
.lds-ellipsis div {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: $white;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  .newsletter.is-sending &,
  .results__loading.is-active & {
      animation: lds-ellipsis 0.6s infinite;
  }
  .newsletter.is-sending & {
      background: $black;
  }
}
@keyframes lds-ellipsis {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
