.main {
    transition: opacity $ease $base-duration;

    .is-menu-open & {
        pointer-events: none;
        opacity: 0.5;
    }

    .is-tranny &,
    .is-menu-search & {
        opacity: 0;
    }
}



/******************************************************************************
 * Newsletter
*******************************************************************************/
.newsletter {
    @include text();

    .system-blocks__newsletter & {
        left: auto;
        margin-left: 0;
        display: block;
    }
}
.newsletter__form {
    &.is-success {
        .newsletter__success {
            display: block;
        }
        .newsletter__entry {
            display: none;
        }
    }
}
.newsletter__success {
    display: none;

    .is-success & {
        display: block;
    }
}
.newsletter__entry {
    position: relative;
    max-width: 660px;
    width: 100%;

    .is-success & {
        display: none;
    }
}
.newsletter__btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate3d( 0, -50%, 0 );
}
.newsletter__input {}



/******************************************************************************
 * Search
*******************************************************************************/
.search {}
.search--block {
    display: none;
}
.search__btn {
    opacity: 0;
    transition: opacity $base-duration $ease;
    margin-left: $padding-m;

    &.is-active {
        opacity: 1;
    }

    @include respond( $mobile-breakpoint ) {
        display: none;
    }
}
.results {
    .results__loading {
        opacity: 0;
        transition: opacity $base-duration $ease;

        &.is-active {
            opacity: 1;
        }
    }

    .lds-ellipsis {
        transform: translateX( -6px );
    }

    .grid {
        opacity: 0;
        transform: translate3d( 0, 16px, 0 );
        transition: transform $ease-menu-1 $base-duration,
                    opacity $ease-menu-1 $base-duration;

        &.is-active {
            opacity: 1;
            transform: translate3d( 0, 0, 0 );
        }
    }
}



/******************************************************************************
 * Buttons
*******************************************************************************/
.btn {
    @include m();
    background-color: transparent;
    line-height: 1;
    color: $grey;
    cursor: pointer;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}
.inp {
    @include p();
    @include placeholder( $grey );
    line-height: 1;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    border-bottom: 1px solid $grey;
    background-color: transparent;
    color: $black;
    padding: 0;
    width: 100%;
    max-width: 660px;
    height: 75px;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    transition: color $base-duration $ease;

    .is-inverse-text & {
        color: $white;
    }

    &.is-invalid {
        color: $red;
    }
}



/******************************************************************************
 * Pages
*******************************************************************************/
.iconography {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    ._svg {
        margin: $padding-m;
    }
}
