.main {
    transition: opacity $ease $base-duration;

    .is-menu-open & {
        pointer-events: none;
    }

    .is-tranny &,
    .is-menu-search & {
        opacity: 0;
    }
}
.router {
    display: none;
}



/******************************************************************************
 * Commerce
*******************************************************************************/
.shop {
    .grid {
        @include exp();
        @include wrap();
    }
}
.stack {
    @include wrap();

    &--sub {
        background-color: $black;
        color: $white;

        .h6 {
            border-bottom: 1px solid $white;
        }
    }

    & + .stack:not( .stack--sub ) {
        .stack__wrap {
            border-top: 2px solid $grey-rule;

            @include respond( $break-tablet-small ) {
                border-top: 0;
            }
        }
    }

    .stack__wrap {
        @include exp2();
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .stack__image {
        width: 470px;

        @include respond( $laptop-breakpoint ) {
            width: 320px;
        }

        @include respond( $tablet-breakpoint ) {
            width: 256px;
        }

        @include respond( $break-tablet-small ) {
            width: 100%;
            max-width: 470px;
        }
    }



    .stack__info {
        padding-left: 200px;

        h4 {
            margin-bottom: $padding-m;
        }

        .h6 {
            border-bottom: 1px solid $black;
            display: inline-block;
        }

        .h6 p {
            @include h6();
        }

        @include respond( $laptop-breakpoint ) {
            padding-left: 7.8125vw;
        }

        @include respond( $break-tablet-small ) {
            width: 100%;
            max-width: 470px;
            padding-left: 0;
            padding-top: $padding-m;
        }
    }

}
.product {
    @include p1-cols();

    .p1 {
        @include exp();
        @include wrap();
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .p1__shipping {
        padding-bottom: $padding-m;
    }

    .story {
        padding-top: 0;
        padding-bottom: $story-padding;
    }

    .cta--static {
        padding-left: 0;
        padding-right: 0;
        @include exp();
    }

    .image-col {
        @include respond( $mobile-breakpoint ) {
            padding-top: $padding-m;
        }
    }
}



/******************************************************************************
 * Newsletter
*******************************************************************************/
.newsletter {
    @include text();

    .system-blocks__newsletter & {
        left: auto;
        margin-left: 0;
        display: block;
    }
}
.newsletter--block {
    display: none;
}
.newsletter__loading {
    display: none;
    height: $input-height;
    align-items: center;
    justify-content: flex-start;

    .is-sending & {
        display: flex;
    }
}
.newsletter__form {}
.newsletter__success {
    display: none;
    height: $input-height;
    align-items: center;
    justify-content: flex-start;

    .is-success & {
        display: flex;
    }
}
.newsletter__entry {
    position: relative;
    max-width: 660px;
    width: 100%;

    .is-sending &,
    .is-success & {
        display: none;
    }
}
.newsletter__btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate3d( 0, -50%, 0 );
}
.newsletter__input {}



/******************************************************************************
 * Search
*******************************************************************************/
.search {}
.search--block {
    display: none;
}
.search__btn {
    opacity: 0;
    transition: opacity $base-duration $ease;
    margin-left: $padding-m;

    &.is-active {
        opacity: 1;
    }

    @include respond( $mobile-breakpoint ) {
        display: none;
    }
}
.results {
    .results__loading {
        opacity: 0;
        transition: opacity $base-duration $ease;
        height: 0;

        &.is-active {
            opacity: 1;
            height: auto;
        }
    }

    .lds-ellipsis {
        transform: translateX( -6px );
    }

    .grid {
        opacity: 0;
        transform: translate3d( 0, 16px, 0 );
        transition: transform $ease-menu-1 $base-duration,
                    opacity $ease-menu-1 $base-duration;

        &.is-active {
            opacity: 1;
            transform: translate3d( 0, 0, 0 );
        }
    }
}
.filters {
    @include expt();

    .is-tagged &,
    .is-keytext & {
        display: none;
    }
}
.tags {}
.tags__label {
    color: $grey;
    padding-bottom: $padding-m;
}
.tags__tag {
    line-height: 1.65;

    span {
        display: inline-block;
        cursor: pointer;
        transition: color $base-duration $ease;

        &.is-active {
            color: $grey;
        }
    }
}



/******************************************************************************
 * Buttons
*******************************************************************************/
.btn {
    @include m();
    background-color: transparent;
    line-height: 1;
    color: $grey;
    cursor: pointer;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}
.inp {
    @include p();
    @include placeholder( $grey );
    line-height: 1;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    border-bottom: 1px solid $grey;
    background-color: transparent;
    color: $black;
    padding: 0;
    width: 25.78125vw;
    max-width: 660px;
    min-width: 320px;
    height: $input-height;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    transition: color $base-duration $ease;

    &.is-invalid {
        color: $red;
    }
}



/******************************************************************************
 * Pages
*******************************************************************************/
.iconography {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    ._svg {
        margin: $padding-m;
    }
}
