.image {
    width: 100%;
    max-width: 100%;
}
.media {
    position: relative;
}
.media--stretch {
    width: 100%;
}
.media--wrap {
    @include wrap();
}
.media__node {
    max-width: 100%;
    width: 100%;
}
.media__cap {
    padding-top: 2.75vw;
    @include wrap();
}
.media--card {}
.media--overlap {}



.embed {
    overflow: hidden;
    position: relative;
}
.embed__aspect {
    background-color: $black;
    position: relative;
    width: 100%;
}
.embed__poster,
.embed__element {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.embed__poster {
    transition: opacity $base-duration $ease;

    @include state( "embed", "playing" ) {
        opacity: 0;
        pointer-events: none;
    }
}
.embed__playbtn {
    cursor: pointer;
    height: 48px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d( -50%, -50%, 0 );
    transition: opacity $base-duration $ease;
    width: 48px;

    @include state( "embed", "playing" ) {
        opacity: 0;
        pointer-events: none;
    }
}
.embed__metadata {
    @include otf-none();
    color: $white;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: $padding-1;
    padding-bottom: $padding-1;
    transition: opacity $base-duration $ease;

    @include state( "embed", "playing" ) {
        opacity: 0;
        pointer-events: none;
    }

    @include respond( $mobile-breakpoint ) {
        padding-right: $padding-m;
        padding-bottom: $padding-m;
    }
}
