.image {
    width: 100%;
    max-width: 100%;
}
.media {
    position: relative;
}
.media--stretch {
    width: 100%;
}
.media--wrap {
    @include wrap();
}
.media__node {
    max-width: 100%;
    width: 100%;
}
.media__cap {
    padding-top: 2.75vw;
    @include wrap();
}
.media--card {}
.media--overlap {}



._video {}
._audio {
    max-width: 900px;
    width: 100%;
}
._audio__node {
    display: none;
}
._audio__controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
._audio__pp {
    ._svg--play {
        display: block;

        .is-audio-playing & {
            display: none;
        }
    }

    ._svg--pause {
        display: none;

        .is-audio-playing & {
            display: block;
        }
    }
}
._audio__state {
    @include otf-none();
    padding-left: $padding-m;

    span:nth-child( 1 ) {
        display: inline-block;

        .is-audio-playing & {
            display: none;
        }
    }

    span:nth-child( 2 ) {
        display: none;

        .is-audio-playing & {
            display: inline-block;
        }
    }
}
._audio__global {
    display: inline-block;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: $padding-1;
    padding-bottom: $padding-1;
    z-index: $z_layer_intro;
    pointer-events: none;
    opacity: 0;
    transform: translate3d( 0, 100%, 0 );
    transition: transform $ease-menu-1 $base-duration,
                opacity $ease-menu-1 $base-duration;

    .is-audio-offscreen & {
        opacity: 1;
        transform: translate3d( 0, 0, 0 );
        pointer-events: auto;
    }

    @include respond( $mobile-breakpoint ) {
        padding-left: $padding-m;
        padding-bottom: $padding-m;
    }

    ._audio__controls {
        background-color: $black;
        border-radius: 44px;
        height: 88px;
        width: 220px;
        justify-content: center;
    }

    ._audio__pp {
        padding: 0 $padding-m;
    }

    ._svg {
        fill: $white;
    }
}



.embed {
    overflow: hidden;
    position: relative;
}
.embed__aspect {
    background-color: $black;
    position: relative;
    width: 100%;
}
.embed__poster,
.embed__element {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.embed__poster {
    transition: opacity $base-duration $ease;

    .is-embed-playing & {
        opacity: 0;
        pointer-events: none;
    }
}
.embed__playbtn {
    cursor: pointer;
    height: 48px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d( -50%, -50%, 0 );
    transition: opacity $base-duration $ease;
    width: 48px;

    .is-embed-playing & {
        opacity: 0;
        pointer-events: none;
    }
}
.embed__metadata {
    @include otf-none();
    color: $white;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: $padding-1;
    padding-bottom: $padding-1;
    transition: opacity $base-duration $ease;

    .is-embed-playing & {
        opacity: 0;
        pointer-events: none;
    }

    @include respond( $mobile-breakpoint ) {
        padding-right: $padding-m;
        padding-bottom: $padding-m;
    }
}
