.meni {
    color: $white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: $z_layer_intro;
    height: 100%;
    pointer-events: none;
    visibility: hidden;

    &.is-active {
        visibility: visible;
    }

    .m {
        color: $white;

        a {
            @include a( $white );
        }
    }

    ._svg {
        pointer-events: none;
    }
}
.meni__main {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    padding-right: $padding-1;
    @include exp();
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    transition: transform $ease-menu-0 $base-duration;
    text-align: right;

    .is-menu-open & {
        pointer-events: auto;
    }

    .is-menu-search & {
        pointer-events: none;
    }

    @include respond( $mobile-breakpoint ) {
        padding-right: $padding-m;
        padding-top: $expander-m;
        padding-bottom: $expander-m;
    }
}
.meni__fill {
    background-color: $black;
    color: $white;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: translate3d( 100%, 0, 0 );
    transition: transform $ease-menu-1 $base-duration;

    .is-menu-open & {
        transform: translate3d( sqs-calc( "100% - #{$menu-width-0}" ), 0, 0 );

        @include respond( $break-laptop-full ) {
            transform: translate3d( sqs-calc( "100% - #{$menu-width-1}" ), 0, 0 );
        }

        @include respond( $break-tablet-medium ) {
            transform: translate3d( sqs-calc( "100% - #{$menu-width-2}" ), 0, 0 );
        }

        @include respond( $mobile-breakpoint ) {
            transform: translate3d( 0, 0, 0 );
        }
    }

    .is-menu-search & {
        transform: translate3d( 0, 0, 0 );
    }

    .is-closing & {
        transition: transform $ease-menu-1 $base-duration $fast-duration;
    }
}
.meni__query {
    pointer-events: none;
    color: $white;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    @include exp();
    @include wrap();

    .is-menu-search & {
        pointer-events: auto;
    }

    .search__input {
        color: $white;
        @include placeholder( $grey );
    }
}
.meni__a {
    position: relative;
    display: inline-block;
    transition: color $base-duration $ease;
    line-height: 1;
    padding: 12px 0;

    .is-hoverable &:hover {
        color: $grey;
    }

    .is-hoverable &.is-active:hover {
        color: $white;
    }

    &.is-active {
        color: $grey;
    }
}
.meni__a--instagram,
.meni__a--soundcloud,
.meni__a--stockists {
    @include m();
    padding: 10px 0;
    line-height: 1;
}
.meni__icons,
.meni__menu,
.meni__footer {
    width: 100%;
}
.meni__icons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;

    .meni__search__icon,
    .meni__close__icon {
        cursor: pointer;

        .is-hoverable &:hover {
            ._svg {
                fill: $grey;
            }
        }
    }
    .meni__search__icon {
        .is-menu-search & {
            pointer-events: none;
        }
    }
    .meni__close__icon {
        pointer-events: none;
        position: absolute;
        top: 5px;
        right: 4.5px;

        .is-menu-search & {
            pointer-events: auto;
        }
    }
}
.meni__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .meni__li {}

    .meni__li--instagram {
        padding-top: $padding-m;
    }
}
.meni__footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    visibility: hidden;

    a {
        transition: color $base-duration $ease,
                    border-bottom-color $base-duration $ease;

        .is-hoverable &:hover {
            color: $grey;
            border-bottom-color: $grey;
        }
    }
}
.meni__results {
    @include exp();
}
