.navi {}
.navi__li {
    display: inline-block;
    vertical-align: middle;

    & + .navi__li {
        padding-left: 54px;
    }

    &.navi__li--menu {
        padding-left: $padding-2;
        cursor: pointer;

        ._svg {
            pointer-events: none;
        }
    }

    &:not( .navi__li--menu ) {
        @include respond( $mobile-breakpoint ) {
            display: none;
        }
    }
}
.navi__a {
    border-bottom: 2px solid transparent;
    transition: border-bottom-color $base-duration $ease;
    line-height: 1;

    .is-hoverable &:hover {
        border-bottom: 2px solid $black;
    }
    .is-hoverable.is-inverse-text &:hover {
        border-bottom: 2px solid $white;
    }

    .is-hoverable &.is-active:hover {
        border-bottom: 2px solid $black;
    }
    .is-hoverable.is-inverse-text &.is-active:hover {
        border-bottom: 2px solid $white;
    }

    &.is-active {
        border-bottom: 2px solid $black;

        .is-inverse-text & {
            border-bottom: 2px solid $white;
        }
    }
}
