/******************************************************************************
 * Search
*******************************************************************************/
.search {
    @include wrap();

    @include respond( $mobile-breakpoint ) {
        padding-top: $menu-mobile-top * 2;
        padding-left: $padding-m + 10px;
        padding-right: $padding-m + 10px;
    }
}
.search--block {
    display: none;
}
.search__btn {
    opacity: 0;
    transition: opacity $base-duration $ease;
    margin-left: $padding-m;

    &.is-active {
        opacity: 1;
    }
}
.results {
    .results__loading {
        @include wrap();
        opacity: 0;
        transition: opacity $base-duration $ease;
        height: 0;

        @include respond( $mobile-breakpoint ) {
            padding-left: $padding-m + 10px;
        }

        &.is-active {
            opacity: 1;
            height: auto;
        }
    }

    .lds-ellipsis {
        transform: translateX( -6px );
    }

    .grid {
        opacity: 0;
        transform: translate3d( 0, 16px, 0 );
        transition: transform $ease-menu-1 $base-duration,
                    opacity $ease-menu-1 $base-duration;

        &.is-active {
            opacity: 1;
            transform: translate3d( 0, 0, 0 );
        }
    }

    .grid__item > p {
        @include wrapgm();
    }
}
.filters {
    @include wrap();
    @include expt();

    @include respond( $mobile-breakpoint ) {
        padding-left: $padding-m + 10px;
    }

    .is-tagged &,
    .is-keytext & {
        display: none;
    }
}
.tags {
    .h6 {
        @include respond( $mobile-breakpoint ) {
            font-size: $m-size-mobile + 2px;
        }
    }
}
.tags__label {
    color: $grey;
    padding-bottom: $padding-m * 2;
}
.tags__tag {
    line-height: 38 / 18;

    span {
        display: inline-block;
        cursor: pointer;
        transition: color $base-duration $ease;

        .is-hoverable &:hover {
            color: $grey;
        }
    }
}
