.story {
    padding-top: 11vw;
    padding-bottom: 11vw;
}



.annotation {
    @include exp();
    @include wrap();
    width: 100%;

    blockquote {
        p {
            @include m();
            color: $black;

            .is-inverse-text & {
                color: $white;
            }
        }
    }
}
.annotation__wrap {
    position: relative;
    width: 100%;
}
.annotation__note {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    blockquote {
        max-width: 300px;
    }

    .annotation--text & {
        @include respond( $break-ipad-pro-width ) {
            position: relative;
            left: auto;
            top: auto;
            @include text();
            @include expb();
        }
    }

    .annotation--media & {
        @include respond( 2100px ) {
            position: relative;
            left: auto;
            top: auto;
            @include expb();
        }
    }
}
.annotation__text {
    @include text();
}
.annotation__media {
    width: 100%;
    text-align: right;

    .media {
        @include media();
    }
}



.cta {
    width: 100%;
}
.cta--static {
    @include wrap();
}
.cta--global {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: $padding-1;
    padding-bottom: $padding-1;
    pointer-events: none;
    opacity: 0;
    transform: translate3d( 0, 100%, 0 );
    transition: transform $ease-menu-1 $base-duration,
                opacity $ease-menu-1 $base-duration;
    z-index: $z_layer_menu;

    .is-cta-offscreen & {
        opacity: 1;
        transform: translate3d( 0, 0, 0 );
        pointer-events: auto;
    }

    @include respond( $mobile-breakpoint ) {
        padding-left: $padding-m;
        padding-bottom: $padding-m;
    }

    ._button {
        background-color: $black;
        color: $white;

        .is-inverse-text & {
            background-color: $white;
            color: $black;
        }
    }
}
.cta__wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.cta__text {
    padding-left: $padding-m;

    p {
        @include m();
        color: $black;

        .is-inverse-text & {
            color: $white;
        }
    }
}



.slider {
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
    @include exp();
}
.slider__wrap {
    position: relative;
}
.slider__item {
    display: inline-block;
    vertical-align: top;
    margin-left: $padding-1;

    .image {
        width: 62.5vw;
        max-width: 62.5vw;

        &[data-imageloader] {
            width: auto;
            max-width: 100%;
            height: 41.40625vw;
        }
    }

    @include respond( $mobile-breakpoint ) {
        margin-left: $padding-m;
    }

    &:last-child {
        margin-right: $padding-1;

        @include respond( $mobile-breakpoint ) {
            margin-right: $padding-m;
        }
    }
}



._card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include wrap();
}
._card--left {
    ._card__media {
        order: 1;

        @include respond( $mobile-breakpoint ) {
            order: 2;
        }
    }
    ._card__title {
        order: 2;

        @include respond( $mobile-breakpoint ) {
            order: 1;
        }
    }
}
._card--right {
    ._card__media {
        order: 2;
    }
    ._card__title {
        order: 1;
    }
}
._card__title {
    @include diptych();

    @include respond( $mobile-breakpoint ) {
        width: 100%;
        padding-bottom: $padding-m;
    }
}
._card__media {
    @include diptych();

    @include respond( $mobile-breakpoint ) {
        width: 100%;
    }
}



.grid {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include exp();
    @include wrap();

    @include respond( $mobile-breakpoint ) {
        margin: 0;
    }
}
.grid__item {
    width: 25.5078125vw;
    max-width: 653px;

    @include respond( $mobile-breakpoint ) {
        width: 100%;
        padding: 0 0 $padding-m 0;
    }
}
.grid__title {
    padding-top: $padding-m;
}



.diptych {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include exp();
    @include wrap();
}
.diptych__item {
    @include diptych();
}
