.story--contact,
.story--stockists {
    padding-bottom: $story-padding;
}
.story:not( .story--homepage ) {
    @include intro-content();
}
.story--about,
.story--contact,
.story--stockists {
    @include wrapgm();

    .grid {
        @include respond( $mobile-breakpoint ) {
            margin: 0 -($padding-m / 2);
        }
    }
}
.stories {
    @include intro-content();
}



// Related items
.summary-v2 {
    position: relative;
}
