._svg {
    transition: fill $fast-duration $ease;
    cursor: pointer;
    fill: $black;
}
._svg--logo {
    width: 5.46875vw;
    max-width: 140px;
    min-width: 128px;

    .intro & {
        fill: $white;
    }
}
._svg--play {
    fill: $white;
    width: 48px;
    height: 48px;
}
._svg--left {
    width: 28px;
    height: 23px;
}
._svg--list {
    width: 36px;
    height: 27px;
}
._svg--search {
    width: 35px;
    height: 35px;

    .meni & {
        fill: $white;
    }
}
._svg--x {
    width: 24px;
    height: 25px;

    .meni & {
        fill: $white;
    }
}
._svg--right {
    width: 28px;
    height: 23px;
}
._svg--down {
    width: 23px;
    height: 13px;
}
