._svg {
    transition: fill $fast-duration $ease;
    }
._svg--play {
    fill: $black;
    height: 48px;
    width: 48px;
}
._svg--logo {
    fill: $black;
    width: 320px;

    .intro & {
        fill: $white;
    }

    .header & {
        width: 128px;
    }
}
