._svg {
    transition: fill $base-duration $ease;
    cursor: pointer;
    fill: $black;
}
._svg--logo {
    max-width: 140px;
    width: 5.46875vw;
    min-width: 120px;

    .intro & {
        fill: $white;
        max-width: 600px;
        width: 23.4375vw;
        min-width: 140px;
    }
}
._svg--play {
    @include icon-play-size();
    max-height: 29px;
    height: 1.1328125vw;
    min-height: 21px;

    .embed & {
        fill: $white;
        max-width: 57px;
        width: 2.2265625vw;
        min-width: 25px;
        max-height: 68px;
        height: 2.65625vw;
        min-height: 29px;
    }
}
._svg--pause {
    max-width: 22px;
    width: 0.859375vw;
    min-width: 16px;
    max-height: 30px;
    height: 1.171875vw;
    min-height: 22px;
}
._svg--skipbackward,
._svg--skipforward {
    max-width: 28px;
    width: 1.09375vw;
    min-width: 25px;
    max-height: 33px;
    height: 1.2890625vw;
    min-height: 30px;
}
._svg--left,
._svg--right {
    max-width: 28px;
    width: 1.09375vw;
    min-width: 24px;
    max-height: 23px;
    height: 0.8984375vw;
    min-height: 20px;
}
._svg--list {
    // max-width: 36px;
    // width: 1.40625vw;
    // min-width: 30px;
    // max-height: 27px;
    // height: 1.0546875vw;
    // min-height: 23px;
    width: 30px;
    height: 23px;
}
._svg--search {
    // max-width: 35px;
    // width: 1.3671875vw;
    // min-width: 30px;
    // max-height: 35px;
    // height: 1.3671875vw;
    // min-height: 30px;
    width: 30px;
    height: 30px;

    .meni & {
        fill: $white;
    }
}
._svg--x {
    // max-width: 24px;
    // width: 0.9375vw;
    // min-width: 22px;
    // max-height: 25px;
    // height: 0.9765625vw;
    // min-height: 23px;
    width: 22px;
    height: 23px;

    .meni & {
        fill: $white;
    }
}
._svg--down {
    max-width: 23px;
    width: 0.8984375vw;
    min-width: 21px;
    max-height: 13px;
    height: 0.5078125vw;
    min-height: 12px;
}
