.tagcloud {
    @include text();
}
.tagcloud__link {
    border-bottom: 0;

    span {
        @include a( $black );
    }

    .h6 & {
        border-bottom: 0;
    }
}
.tagcloud__label {
    padding-bottom: $padding-m;
}
.tagcloud-query {
    @include exp();
    color: $white;
    z-index: $z_layer_intro;

    @include respond( $mobile-breakpoint ) {
        padding-top: 0;
        padding-bottom: 0;
    }

    &.is-active {
        pointer-events: auto;
    }
}
.tagcloud-query__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include wrap();
    @include wrapm();

    @include respond( $mobile-breakpoint ) {
        padding-top: $menu-mobile-top * 2;
    }
}
.tagcloud-query__input {
    @include placeholder( $white );
    @include p();

    @include respond( $mobile-breakpoint ) {
        min-width: 0;
        width: auto;
        font-size: $h5-size-mobile;
    }
}
.tagcloud-query__results {
    @include exp();
}
.tagcloud-query__close {
    position: relative;

    @include respond( $mobile-breakpoint ) {
        position: absolute;
        right: $padding-m + 10px;
        top: $menu-mobile-top;
    }

    ._svg {
        fill: $white;
    }

    .is-hoverable &:hover ._svg {
        fill: $grey;
    }
}
