/******************************************************************************
 * Functions
*******************************************************************************/
@function sqs-calc( $expression ) {
    @return #{"~\"calc( #{$expression} )\""};
}


/******************************************************************************
 * Animations
*******************************************************************************/
@mixin tween-basic() {
    opacity: 0;
    transform: translate3d( 0, 32px, 0 );
    transition: opacity $base-duration cubic-bezier( 0.645, 0.045, 0.355, 1 ),
                transform $base-duration cubic-bezier( 0.645, 0.045, 0.355, 1 );

    &.is-active {
        opacity: 1;
        transform: translate3d( 0, 0, 0 );
    }
}


/******************************************************************************
 * Fonts: Util
*******************************************************************************/
@mixin font-normal() {
    font-stretch: normal;
    font-style: normal;
}


/******************************************************************************
 * Fonts: Styles
*******************************************************************************/
@mixin font-family-sans() {
    font-family: $font-sans-regular;
    @include font-normal();
}
@mixin font-family-sans-italic() {
    font-family: $font-sans-regular-italic;
    @include font-normal();
}
@mixin font-family-sans-medium() {
    font-family: $font-sans-medium;
    @include font-normal();
}
@mixin font-family-sans-medium-italic() {
    font-family: $font-sans-medium-italic;
    @include font-normal();
}
@mixin font-family-sans-semibold() {
    font-family: $font-sans-semibold;
    @include font-normal();
}
@mixin font-family-sans-semibold-italic() {
    font-family: $font-sans-semibold-italic;
    @include font-normal();
}
@mixin font-family-serif() {
    font-family: $font-serif-light;
    @include font-normal();
}
@mixin font-family-serif-bold() {
    font-family: $font-serif-book;
    @include font-normal();
}
@mixin font-family-serif-bold-italic() {
    font-family: $font-serif-book-italic;
    @include font-normal();
}


/******************************************************************************
 * Typography: Hierarchy
*******************************************************************************/
@mixin p() {
    font-size: $p-size-mobile;
    line-height: $p-line;
    @include font-family-sans();
    @include otf-03();

    .-fserif & {
        @include font-family-serif();
    }

    @include respond-min( $mobile-breakpoint ) {
        font-size: $p-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $p-size-max;
    }
}
@mixin m() {
    font-size: $m-size-mobile;
    line-height: $m-line;
    @include font-family-sans();

    .-fserif & {
        @include font-family-serif();
    }

    @include respond-min( $mobile-breakpoint ) {
        font-size: $m-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $m-size-max;
    }
}
@mixin h1() {
    font-size: $h1-size-mobile;
    line-height: $h1-line;
    @include font-family-sans-medium();
    @include otf-02();

    &.-fserif,
    .-fserif & {
        @include font-family-serif-bold();
    }

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h1-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h1-size-max;
    }
}
@mixin h2() {
    font-size: $h2-size-mobile;
    line-height: $h2-line;
    @include font-family-sans-medium();
    @include otf-02();

    &.-fserif,
    .-fserif & {
        @include font-family-serif-bold();
    }

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h2-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h2-size-max;
    }
}
@mixin h3() {
    font-size: $h3-size-mobile;
    line-height: $h3-line;
    @include font-family-sans-medium();
    @include otf-02();

    &.-fserif,
    .-fserif & {
        @include font-family-serif-bold();
    }

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h3-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h3-size-max;
    }
}
@mixin h4() {
    font-size: $h4-size-mobile;
    line-height: $h4-line;
    @include font-family-sans-medium();
    @include otf-02();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h4-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h4-size-max;
    }
}
@mixin h5() {
    font-size: $h5-size-mobile;
    line-height: $h5-line;
    @include font-family-sans-medium();
    @include otf-02();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h5-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h5-size-max;
    }
}
@mixin h6() {
    font-size: $h6-size-mobile;
    line-height: $h6-line;
    @include font-family-sans();
    @include otf-02();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h6-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h6-size-max;
    }
}
@mixin sqs-h123() {
    .h1RoobertMedium & {
        @include h1();
    }

    .h1CheltenhamBook & {
        @include h1();
        @include font-family-serif-bold();
    }

    .h2RoobertMedium & {
        @include h2();
    }

    .h2CheltenhamBook & {
        @include h2();
        @include font-family-serif-bold();
    }
}
@mixin sqs-body-hflip() {
    .h1CheltenhamBook &,
    .h2CheltenhamBook &,
    &.h1CheltenhamBook,
    &.h2CheltenhamBook {
        @include font-family-serif-bold();
    }
}
@mixin sqs-alert-button() {
    font-family: $font-sans-semibold !important;
    font-size: $m-size-mobile !important;
    line-height: $m-line !important;

    @include respond-min( $mobile-breakpoint ) {
        font-size: $m-size-fluid !important;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $m-size-max !important;
    }
}


/******************************************************************************
 * Typography: Children
*******************************************************************************/
@mixin s() {
    @include font-family-sans-medium();
}
@mixin i() {
    @include font-family-sans-italic();
}
@mixin bi() {
    @include font-family-sans-medium-italic();
}
@mixin a( $color ) {
    color: $color;
    border-bottom: 1px solid $color;
    transition: border-bottom-color $fast-duration $ease;

    .is-hoverable &:hover {
        border-bottom-color: transparent;
    }

    .is-hoverable &.is-active:hover {
        border-bottom-color: transparent;
    }

    &.is-active {
        border-bottom-color: transparent;
    }
}
@mixin a-flip( $color ) {
    border-bottom: 1px solid transparent;
    transition: color $fast-duration $ease,
                border-bottom-color $fast-duration $ease;

    .is-hoverable &:hover {
        border-bottom-color: $color;
    }

    .is-hoverable &.is-active:hover {
        border-bottom-color: $color;
    }

    &.is-active {
        border-bottom-color: $color;
    }
}
@mixin placeholder( $color ) {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: $color;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: $color;
    }
    &::placeholder { /* Future standard */
        color: $color;
    }
}


/******************************************************************************
 * Typography: OpenType
*******************************************************************************/
// Universal
@mixin otf-01 {
    font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "liga" 0, "clig" 0, "dlig" 0, "ss03";
    -webkit-font-feature-settings: "liga" 0, "clig" 0, "dlig" 0, "ss03";
    font-feature-settings: "liga" 0, "clig" 0, "dlig" 0, "ss03";
}
// Headlines
@mixin otf-02 {
    font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "liga", "clig", "dlig" 0, "ss01", "ss03", "ss04";
    -webkit-font-feature-settings: "liga", "clig", "dlig" 0, "ss01", "ss03", "ss04";
    font-feature-settings: "liga", "clig", "dlig" 0, "ss01", "ss03", "ss04";
}
// Body bopy
@mixin otf-03 {
    font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "liga" 0, "clig" 0, "dlig" 0, "ss02", "ss03";
    -webkit-font-feature-settings: "liga" 0, "clig" 0, "dlig" 0, "ss02", "ss03";
    font-feature-settings: "liga" 0, "clig" 0, "dlig" 0, "ss02", "ss03";
}
// Fractions, superscripts
@mixin otf-ss {
    font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "frac";
    -webkit-font-feature-settings:  "frac";
    font-feature-settings:  "frac";
}
// Disable the OpenType features
@mixin otf-none {
    font-variant-ligatures: no-common-ligatures;
    -moz-font-feature-settings: unset;
    -webkit-font-feature-settings: unset;
    font-feature-settings: unset;
}



/******************************************************************************
 * Typography: UI
*******************************************************************************/
@mixin button-pseudo() {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $button-height;
    width: $button-width;

    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d( -50%, -50%, 0 );
        height: 100%;
        width: 100%;
        border: 2px solid $black;
        border-radius: $button-height / 2;
        transition: transform $base-duration $ease;
        z-index: -1;

        @include respond( $laptop-breakpoint ) {
            border-radius: $button-height-l / 2;
        }

        @include respond( $mobile-breakpoint ) {
            border-radius: $button-height-m / 2;
        }
    }

    &._button--lit {
        color: $white;
    }
    &._button--lit:before {
        border-color: $white;
    }

    .is-hoverable &:hover:before {
        transform: translate3d( -50%, -50%, 0 ) scale( 1.05 );
    }

    @include respond( $laptop-breakpoint ) {
        height: $button-height-l;
        width: $button-width-l;
    }

    @include respond( $mobile-breakpoint ) {
        height: $button-height-m;
        width: $button-width-m;
    }
}
@mixin nbsp() {
    &:before {
        position: relative;
        display: inline-block;
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";

        @include respond( $mobile-breakpoint ) {
            content: "\00a0\00a0\00a0\00a0";
        }
    }

    // .story--about &:before,
    .story--contact &:before,
    .story--stockists &:before {
        display: none;
    }
}
@mixin text-content-reset() {
    > p,
    > ol,
    > ul,
    > h3,
    > p + blockquote,
    > h3 + blockquote {
        left: auto;

        &:before {
            display: none;
        }
    }
}
@mixin text-content() {
    > p,
    > ol,
    > ul,
    > p + blockquote,
    > h3 + blockquote {
        @include text();
    }

    > p  {
        @include nbsp();
    }

    > ul > li,
    > ol > li {
        @include p();
        position: relative;

        &:before {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            content: "";
            width: 6px;
            height: 6px;
            background-color: $black;
            border-radius: 6px;
            margin-right: 10px;
        }

        > p {
            display: inline-block;
            vertical-align: middle;
        }
    }

    > h1, h1 p {
        .story--shop &,
        .story--detail & {
            @include h3();
            @include nbsp();
        }

        @include sqs-body-hflip();

        > a {
            border-bottom-width: $header-underline;
            @include font-family-sans-medium-italic();
        }

        > em {
            @include font-family-sans-medium-italic();
        }
    }

    > h2, h2 p {
        .story--shop &,
        .story--detail & {
            @include h4();
            @include nbsp();
        }

        @include sqs-body-hflip();

        > a {
            border-bottom-width: $header-underline;
            @include font-family-sans-medium-italic();
        }

        > em {
            @include font-family-sans-medium-italic();
        }
    }

    > h3, h3 p {
        .story--shop &,
        .story--detail &,
        .story--contact &,
        .story--stockists & {
            @include h5();
        }

        .story--shop &,
        .story--detail &,
        .story--contact &,
        .story--stockists & {
            @include text();
        }

        @include sqs-body-hflip();

        > a {
            border-bottom-width: $header-underline;
            @include font-family-sans-medium-italic();
        }

        > em {
            @include font-family-sans-medium-italic();
        }
    }

    > blockquote {
        p {
            @include m();
        }
    }

    > h1 + p,
    > h2 + p,
    > h3 + p,
    > p + h1,
    > p + h2,
    > p + h3,
    > p + ul,
    > p + ol,
    > ul + p,
    > ol + p,
    > h1 + h1,
    > h1 + h2,
    > h1 + h3,
    > h2 + h1,
    > h2 + h2,
    > h2 + h3,
    > h3 + h1,
    > h3 + h2,
    > h3 + h3,
    > p:not( .p--boldline ) + p {
        @include expt();
    }

    > p + p[data-rte-preserve-empty],
    > h3 + p[data-rte-preserve-empty] {
        padding-top: $expander-m / 2;
    }

    > p.p--listings,
    > p.p--boldline + p {
        &:before {
            display: none;
        }
    }

    a {
        @include a( $black );
    }
}


/******************************************************************************
 * Layout: Containers
*******************************************************************************/
@mixin wrap() {
    padding-left: $padding-1;
    padding-right: $padding-1;

    @include respond( $mobile-breakpoint ) {
        padding-left: $padding-m;
        padding-right: $padding-m;
    }
}
@mixin wrapm() {
    @include respond( $mobile-breakpoint ) {
        padding-left: $padding-m + 10px;
        padding-right: $padding-m + 10px;
    }
}
@mixin wrapgm() {
    @include respond( $mobile-breakpoint ) {
        padding-left: $padding-m / 2;
        padding-right: $padding-m / 2;
    }
}
@mixin wrapr() {
    padding-right: $padding-1;

    @include respond( $mobile-breakpoint ) {
        padding-right: $padding-m;
    }
}
@mixin wrapl() {
    padding-left: $padding-1;

    @include respond( $mobile-breakpoint ) {
        padding-left: $padding-m;
    }
}
@mixin wrap-imp() {
    padding-left: $padding-1 !important;
    padding-right: $padding-1 !important;

    @include respond( $mobile-breakpoint ) {
        padding-left: $padding-m !important;
        padding-right: $padding-m !important;
    }
}
@mixin exp() {
    padding-top: $expander-1;
    padding-bottom: $expander-1;

    @include respond( $mobile-breakpoint ) {
        padding-top: $expander-m - 10px;
        padding-bottom: $expander-m - 10px;
    }
}
@mixin exp-imp() {
    padding-top: $expander-1 !important;
    padding-bottom: $expander-1 !important;

    @include respond( $mobile-breakpoint ) {
        padding-top: $expander-m !important;
        padding-bottom: $expander-m !important;
    }
}
@mixin exp2() {
    padding-top: $expander-1 * 2;
    padding-bottom: $expander-1 * 2;

    @include respond( $mobile-breakpoint ) {
        padding-top: $expander-1;
        padding-bottom: $expander-1;
    }
}
@mixin exp2b() {
    padding-bottom: $expander-1 * 2;

    @include respond( $mobile-breakpoint ) {
        padding-bottom: $expander-1;
    }
}
@mixin exp3() {
    padding-top: $expander-1 * 3;
    padding-bottom: $expander-1 * 3;

    @include respond( $mobile-breakpoint ) {
        padding-top: $expander-1 * 2;
        padding-bottom: $expander-1 * 2;
    }
}
@mixin expt() {
    padding-top: $expander-1;

    @include respond( $mobile-breakpoint ) {
        padding-top: $expander-m;
    }
}
@mixin expb() {
    padding-bottom: $expander-1;

    @include respond( $mobile-breakpoint ) {
        padding-bottom: $expander-m;
    }
}
@mixin p1-cols() {
    .image-col {
        @include diptych();

        @include respond( $tablet-breakpoint ) {
            order: 2;
            padding-top: $padding-m + 10px;
            width: 100%;
        }

        .media--tall {
            .media__wrap {
                @include respond( $tablet-breakpoint ) {
                    max-width: 100%;
                    padding-left: $padding-m;
                    padding-right: $padding-m;
                }
            }
        }

        .media__cap {
            @include respond( $tablet-breakpoint ) {
                padding-left: $padding-m;
                padding-right: $padding-m;
            }
        }
    }

    .text-col {
        width: sqs-calc( "100% - #{$tall-width-0}" );

        &:first-child {
            padding-right: $padding-3;

            @include respond( $tablet-breakpoint ) {
                padding-left: $padding-m + 10px;
                padding-right: $padding-m + 10px;
            }
        }

        &:last-child {
            padding-left: $padding-3;

            @include respond( $tablet-breakpoint ) {
                padding-left: $padding-m + 10px;
                padding-right: $padding-m + 10px;
            }
        }

        @include respond( $tablet-breakpoint ) {
            order: 1;
            width: 100%;
        }
    }
}


/******************************************************************************
 * Layout: Maximums
*******************************************************************************/
@mixin text() {
    width: 100%;
    max-width: $text-width;
    position: relative;
    left: 50%;

    @include respond( $text-breakpoint ) {
        left: auto;
        margin-left: auto;
        display: block;
    }

    @include respond( $break-laptop-full ) {
        max-width: $text-width - 200px;
    }
}
@mixin media() {
    display: inline-block;
    max-width: $media-width-0;
    width: 100%;
}
@mixin media-tall() {
    display: inline-block;
    max-width: $tall-width-1;
    width: 100%;

    @include respond( $break-laptop-full ) {
        max-width: $tall-width-1 - 200px;
    }
}
@mixin diptych() {
    width: $tall-width-0;
    max-width: $tall-width-1;
}


/******************************************************************************
 * Layout: UI
*******************************************************************************/
@mixin icon-play-size() {
    max-width: 23px;
    width: 0.8984375vw;
    min-width: 16px;
    max-height: 27px;
    height: 1.0546875vw;
    min-height: 19px;
}



@mixin intro-content() {
    transition: opacity $base-duration ease $base-duration;

    .is-site-intro & {
        opacity: 0;
    }
}



/******************************************************************************
 * Media queries
 *
 * @see ../config/_variables.scss for Breakpoints
*******************************************************************************/
@mixin respond( $width ) {
    @media only screen and ( max-width: $width ) {
        @content;
    }
}
@mixin respond-min( $width ) {
    @media only screen and ( min-width: $width ) {
        @content;
    }
}
