/******************************************************************************
 * Fonts: Util
*******************************************************************************/
@mixin font-normal() {
    font-stretch: normal;
    font-style: normal;
}


/******************************************************************************
 * Fonts: Styles
*******************************************************************************/
@mixin font-family-sans() {
    font-family: $font-sans-regular;
    @include font-normal();
}
@mixin font-family-sans-italic() {
    font-family: $font-sans-regular-italic;
    @include font-normal();
}
@mixin font-family-sans-bold() {
    font-family: $font-sans-medium;
    @include font-normal();
}
@mixin font-family-sans-bold-italic() {
    font-family: $font-sans-medium-italic;
    @include font-normal();
}
@mixin font-family-serif() {
    font-family: $font-serif-light;
    @include font-normal();
}
@mixin font-family-serif-bold() {
    font-family: $font-serif-book;
    @include font-normal();
}


/******************************************************************************
 * Type
*******************************************************************************/
@mixin p() {
    font-size: $p-size-mobile;
    line-height: $p-line;
    @include font-family-sans();
    @include otf-03();

    .-fserif & {
        @include font-family-serif();
    }

    @include respond-min( $mobile-breakpoint ) {
        font-size: $p-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $p-size-max;
    }
}
@mixin m() {
    font-size: $m-size-mobile;
    line-height: $m-line;
    @include font-family-sans();

    .-fserif & {
        @include font-family-serif();
    }

    @include respond-min( $mobile-breakpoint ) {
        font-size: $m-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $m-size-max;
    }
}
@mixin h1() {
    font-size: $h1-size-mobile;
    line-height: $h1-line;
    @include font-family-sans-bold();
    @include otf-02();

    &.-fserif,
    .-fserif & {
        @include font-family-serif-bold();
    }

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h1-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h1-size-max;
    }
}
@mixin h2() {
    font-size: $h2-size-mobile;
    line-height: $h2-line;
    @include font-family-sans-bold();
    @include otf-02();

    &.-fserif,
    .-fserif & {
        @include font-family-serif-bold();
    }

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h2-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h2-size-max;
    }
}
@mixin h3() {
    font-size: $h3-size-mobile;
    line-height: $h3-line;
    @include font-family-sans-bold();
    @include otf-02();

    &.-fserif,
    .-fserif & {
        @include font-family-serif-bold();
    }

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h3-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h3-size-max;
    }
}
@mixin h4() {
    font-size: $h4-size-mobile;
    line-height: $h4-line;
    @include font-family-sans-bold();
    @include otf-02();

    &.-fserif,
    .-fserif & {
        @include font-family-serif-bold();
    }

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h4-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h4-size-max;
    }
}
@mixin h5() {
    font-size: $h5-size-mobile;
    line-height: $h5-line;
    @include font-family-sans-bold();
    @include otf-02();

    &.-fserif,
    .-fserif & {
        @include font-family-serif-bold();
    }

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h5-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h5-size-max;
    }
}
@mixin h6() {
    font-size: $h6-size-mobile;
    line-height: $h6-line;
    @include font-family-sans-bold();

    &.-fserif,
    .-fserif & {
        @include font-family-serif-bold();
    }

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h6-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h6-size-max;
    }
}

// Child type variations
@mixin s() {
    @include font-family-sans-bold();
}
@mixin i() {
    @include font-family-sans-italic();
}
@mixin bi() {
    @include font-family-sans-bold-italic();
}
@mixin a( $color ) {
    color: $color;
    border-bottom: 1px solid $color;
    transition: color $fast-duration $ease,
                border-bottom-color $fast-duration $ease;
}

// OpenType features
// Universal
@mixin otf-01 {
    font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "liga" 0, "clig" 0, "dlig" 0, "ss03";
    -webkit-font-feature-settings: "liga" 0, "clig" 0, "dlig" 0, "ss03";
    font-feature-settings: "liga" 0, "clig" 0, "dlig" 0, "ss03";
}
// Headlines
@mixin otf-02 {
    font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "liga", "clig", "dlig", "ss01", "ss03", "ss04";
    -webkit-font-feature-settings: "liga", "clig", "dlig", "ss01", "ss03", "ss04";
    font-feature-settings: "liga", "clig", "dlig", "ss01", "ss03", "ss04";
}
// Body bopy
@mixin otf-03 {
    font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "liga" 0, "clig" 0, "dlig" 0, "frac", "ss02", "ss03";
    -webkit-font-feature-settings: "liga" 0, "clig" 0, "dlig" 0, "frac", "ss02", "ss03";
    font-feature-settings: "liga" 0, "clig" 0, "dlig" 0, "frac", "ss02", "ss03";
}



/******************************************************************************
 * Document states
*******************************************************************************/
@mixin state( $module, $state ) {
    .is-#{$module}-#{$state} & {
        @content;
    }
}
@mixin hover() {
    .is-hoverable &:hover {
        @content;
    }
}
@mixin placeholder( $color ) {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: $color;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: $color;
    }
    &::placeholder { /* Future standard */
        color: $color;
    }
}
@mixin noop() {
    opacity: 0;
    pointer-events: none;
}
@mixin poon() {
    opacity: 1;
    pointer-events: auto;
}
@mixin hide() {
    pointer-events: none;
    visibility: hidden;
}
@mixin wrap() {
    padding-left: $padding-1;
    padding-right: $padding-1;
}
@mixin wrap2() {
    padding-left: $padding-2;
    padding-right: $padding-2;
}
@mixin exp() {
    padding-top: $expander-1;
    padding-bottom: $expander-1;
}
@function sqs-calc( $expression ) {
    @return #{"~\"calc( #{$expression} )\""};
}



/******************************************************************************
 * Media queries
 *
 * @see ../config/_variables.scss for Breakpoints
*******************************************************************************/
@mixin respond( $width ) {
    @media only screen and ( max-width: $width ) {
        @content;
    }
}
@mixin respond-min( $width ) {
    @media only screen and ( min-width: $width ) {
        @content;
    }
}
