/******************************************************************************
 * Fonts
*******************************************************************************/
// Roobert ( Medium, Regular )
$font-sans: "Roobert";
$font-sans-regular: "#{$font-sans}-Regular";
$font-sans-regular-italic: "#{$font-sans}-RegularItalic";
$font-sans-medium: "#{$font-sans}-Medium";
$font-sans-medium-italic: "#{$font-sans}-MediumItalic";
$font-sans-semibold: "#{$font-sans}-SemiBold";
$font-sans-semibold-italic: "#{$font-sans}-SemiBoldItalic";

// CheltenhamPro ( Book, Light )
$font-serif: "CheltenhamPro";
$font-serif-light: "#{$font-serif}-Light";
$font-serif-book: "#{$font-serif}-Book";
$font-serif-book-italic: "#{$font-serif}-BookItalic";



/******************************************************************************
 * Colors
*******************************************************************************/
$black: #000;
$white: #fff;
$grey: #777878;
$yellow: #FCE28E;
$red: #ef4b4b;
$grey-rule: #d8d8d8;
$bgcolor: $white;


/******************************************************************************
 * Spacing
*******************************************************************************/
$padding-m: 20px;
$padding-1: 3.90625vw;
$padding-2: 6.25vw;
$padding-g: 20px;
$expander-1: 60px;
$expander-m: 40px;



/******************************************************************************
 * Sizes
*******************************************************************************/
$text-width: 1000px;
$menu-width-0: 800px;
$menu-width-1: 720px;
$menu-width-2: 480px;
$menu-width-3: 84vw;
$menu-mobile-top: 75px;
$media-width-0: 1600px;
$media-width-1: 2300px;
$tall-width-0: 39.0625vw;
$tall-width-1: 1000px;
$cover-text-width: 960px;
$button-height: 84px;
$button-width: 230px;
$button-height-l: 73px;
$button-width-l: 200px;
$button-height-m: 60px;
$button-width-m: 160px;
$slider-width: 62.5vw;
$slider-height: 41.40625vw;
$story-padding: 11.71875vw;
$input-height: 75px;
$header-underline: 3px;
$pinned-text-width: 900px;
$pinned-media-width: 1130px;




/******************************************************************************
 * Typography
 *
 * Story details offset the type scale as such:
 *
 * h1 renders as h3
 * h2 renders as h4
 * h3 renders as h5
*******************************************************************************/
$h1-size-mobile: 52px;
$h1-size-variable: 2.815vw;
$h1-size-fluid: #{"~\"calc( #{$h1-size-mobile} + #{$h1-size-variable} )\""};
$h1-size-max: 124px;
$h1-line: 134 / 124;

$h2-size-mobile: 46px;
$h2-size-variable: 2.265vw;
$h2-size-fluid: #{"~\"calc( #{$h2-size-mobile} + #{$h2-size-variable} )\""};
$h2-size-max: 104px;
$h2-line: 114 / 104;

$h3-size-mobile: 40px;
$h3-size-variable: 1.7225vw;
$h3-size-fluid: #{"~\"calc( #{$h3-size-mobile} + #{$h3-size-variable} )\""};
$h3-size-max: 84px;
$h3-line: 94 / 84;

$h4-size-mobile: 34px;
$h4-size-variable: 1.175vw;
$h4-size-fluid: #{"~\"calc( #{$h4-size-mobile} + #{$h4-size-variable} )\""};
$h4-size-max: 64px;
$h4-line: 74 / 64;

$h5-size-mobile: 28px;
$h5-size-variable: 0.625vw;
$h5-size-fluid: #{"~\"calc( #{$h5-size-mobile} + #{$h5-size-variable} )\""};
$h5-size-max: 44px;
$h5-line: 54 / 44;

$h6-size-mobile: 16px;
$h6-size-variable: 0.3215vw;
$h6-size-fluid: #{"~\"calc( #{$h6-size-mobile} + #{$h6-size-variable} )\""};
$h6-size-max: 24px;
$h6-line: 34 / 24;

$p-size-mobile: 22px;
$p-size-variable: 0.47025vw;
$p-size-fluid: #{"~\"calc( #{$p-size-mobile} + #{$p-size-variable} )\""};
$p-size-max: 34px;
$p-line: 50 / 34;

$m-size-mobile: 16px;
$m-size-variable: 0.155vw;
$m-size-fluid: #{"~\"calc( #{$m-size-mobile} + #{$m-size-variable} )\""};
$m-size-max: 20px;
$m-line: 30 / 20;



/******************************************************************************
 * Breakpoints
*******************************************************************************/
$break-desktop-full: 2560px;
$break-desktop-medium: 1920px;
$break-laptop-full: 1680px;
$break-laptop-medium: 1440px;
$break-ipad-pro-width: 1366px;
$break-tablet-full: 1280px;
$break-tablet-medium: 1024px;
$break-tablet-small: 768px;
$break-mobile-full: 640px;
$break-mobile-medium: 480px;
$break-mobile-small: 320px;

// App usage
$mobile-breakpoint: $break-mobile-full;   // 640
$tablet-breakpoint: $break-tablet-medium; // 1024
$laptop-breakpoint: $break-laptop-medium; // 1440
$desktop-breakpoint: $break-desktop-full; // 2560
$text-breakpoint: 2170px;



/******************************************************************************
 * Animations
*******************************************************************************/
$ease: ease;
$ease-menu-0: cubic-bezier( 0.4, 0.7, 0.2, 1 );
$ease-menu-1: cubic-bezier( 0.8, 0, 0.1, 1 );
$ease-lift: cubic-bezier( 0.23, 1, 0.32, 1 );
$slow-duration: 1000ms;
$long-duration: 750ms;
$base-duration: 500ms;
$fast-duration: 250ms;



/******************************************************************************
 * Layering
*******************************************************************************/
$z_layer_behind: -1;
$z_layer_menu: 1000;
$z_layer_screen: 1001;
$z_layer_header: 1002;
$z_layer_intro: 1003;
